body {
	background-color:yellow;
}

.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(-8%);
	}
	65%{
		-webkit-transform: translateX(4%);
	}
	80%{
		-webkit-transform: translateX(-4%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

#navigation ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	width: 160px;
	text-align: center;
}

#navigation li a {
	color: #818181;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}
#navigation li a:hover {
	color: #000;
}
#navigation li.active a {
	color: #f99600;
}

#header {
	background-color: #eee;
	border-bottom: 1px solid #e6e6e6;
	padding: 27px 0;
}
#header > div, #footer > div {
	width: 920px;
	margin: 0 auto;
	padding: 0 20px;
}

table {
	width : 300px;
	text-align:center;
	table-layout:fixed;
	border-collapse:collapse;
}

th,td {
	text-align:center;
	width:100px;
}

td {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-collapse: collapse;
}

.select:hover {
	background-color:white;
}

#intro {
	font-size : 80px;
}

a {
	text-decoration:none;
}

a:hover {
	color:green;
	text-decoration:none;
}

a.button {
	color: #000000;
	text-decoration: none;
	display: block;
	background: #FFFFFF;
	width : 100px;
	height : 30px;
	text-align : center;
	border-radius : 10px;
}

.error {
	color : red;
}

#n {
	font-size : 48px;
}