<h1>Main#chat</h1>
<p>Find me in app/views/main/chat.html.erb</p>

<body>
	
	page ini : 
	Dapat menampilkan list user yang pernah di chat user tersebut
	Dapat menampilkan list user lain yang berlawanan jenis (ada menunya)
	Dapat memilih user untuk diajak chatting
	Dapat chatting dengan user tersebut
	
</body>