<h1>Main#friend</h1>
<p>Find me in app/views/main/friend.html.erb</p>

</body>
	page ini berisi :
	Daftar teman-teman user
	Dapat mengirimkan pesan privat kepada temannya
	Dapat membuka identitas kepada temannya
	Dapat menyusun rencana pertemuan dengan temannya
</body>