<!DOCTYPE html>
<html>
	<head>
	  <meta charset="UTF-8">
	  <title> Register Error </title>
	</head>

	<body>
	  <div class="body"> </div>
			<div class="grad"></div>
			<div class="header">
				<div>biro<span>Jodoh</span><br><div>Registration</div></div>
			</div>
			<br>
			
			<div class="message">
				You submitted incomplete data,
				<br> Please back to register page to re-register,
				<br> Or click login to login page.
			</div>
			
			<div class="footerRegister">
				<a href="/users/new"> Register </a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
				<a href="/sessions/new"> Login </a>
			</div>
	</body>

</html>