<!DOCTYPE html>
<html>
	<head>
	  <meta charset="UTF-8">
	  <title> Index </title>
	</head>
	
	<body>
	  <div class="body"> </div>
			<div class="grad"></div>
			<div class="header">
				<div>biro<span>Jodoh</span><br><div>Where love fate met</div></div>
			</div>
			
			<br>
			<div class="login">
				<%= form_for :users do |f| %>
					<%= f.text_field :username, placeholder: 'username' %>
					<%= f.password_field :password, placeholder: 'password' %>
					<input type="button" value="Login">
				<% end %>
			</div>
			
			<div class="footer">
				Don't have an account yet? &nbsp &nbsp
				<a href="/users/new"> Register </a>
			</div>
	</body>

</html>