<!DOCTYPE html>
<html>
	<head>
	  <meta charset="UTF-8">
	  <title> Index </title>
	</head>
	
	<body>
	  <div class="body"> </div>
			<div class="grad"></div>
			<div class="header">
				<div>biro<span>Jodoh</span><br><div>Where love fate met</div></div>
			</div>
			
			<br>
			<div class="login">
				<form>
					<input type="text" placeholder="username" name="user"> <br>
					<input type="password" placeholder="password" name="password"> <br>
					<input type="button" value="Login">
				</form>
			</div>
			
			<div class="footer">
				Don't have an account yet? &nbsp &nbsp
				<a href="/welcome/register"> Register </a>
			</div>
	</body>

</html>