<!DOCTYPE html>
<html>
	<head>
	  <meta charset="UTF-8">
	  <title>Random Login Form - CodePen</title>
	</head>

	<body>
	  <div class="body"> </div>
			<div class="grad"></div>
			<div class="header">
				<div>kontak<span>Jodoh</span></div>
			</div>
			
			<br>
			<div class="login">
				<form>
					<input type="text" placeholder="username" name="user"> <br>
					<input type="password" placeholder="password" name="password"> <br>
					<input type="button" value="Login">
				</form>
			</div>
			
			<div class="footer">
				Don't have account? &nbsp &nbsp
				<a href="register"> Register </a> <!--harunya link to register page pada view yang sama-->
			</div>
	</body>

</html>