<!DOCTYPE html>
<html>
	<head>
	  <meta charset="UTF-8">
	  <title> Index </title>
	</head>

	<body>
	  <div class="body"> </div>
			<div class="grad"></div>
			<div class="header">
				<div>biro<span>Jodoh</span><br><div>Registration</div></div>
			</div>
			
			<br>
			<div class="registration">
				<form>
				
					<input type="text" placeholder="username" name="user"> <br>
					<input type="password" placeholder="password" name="password"> <br>
					<input type="data" placeholder="full name" name="fullname"> <br>
					<input type="data" placeholder="place of birth" name="birthplace"> <br>
					<input type="data" placeholder="data of birth dd-mm-yyyy" name="birthdate"> <br>
					<input type="data" placeholder="city" name="city"> <br>
					<input type="data" placeholder="hobby" name="hobby"> <br>
					<input type="data" placeholder="gender (M/F)" name="gender"> <br>
					
					<input type="button" value="Sign Up">
				</form>
			</div>
			
			<div class="footerRegister">
				<a href="/welcome/index"> Cancel </a>
			</div>
	</body>

</html>