@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

.menu {
	font-family : "Calibri";
	background-color : #3E3E33;
	display	: block;
	height 	: 35px;
	width 	: auto;
	font-size : 15px;
}

nav {
	margin-left : 5px;
}
nav ul
{
	list-style-type	: none;
	margin			: 0;
	padding-left	: 0;
}

nav li
{
	display		: inline;
	float		: left;
	padding 	: 8px;
	padding-left : 20px;
}

nav ul li a,
nav ul li a:focus,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active {
	color : #000;
	text-decoration : none; 
}

nav ul li a:hover {
	color 	: #FFA347;
	opacity	: .8;
}

nav ul li form input[type=text]{
	width: 150px;
	height: 16px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 1px;
	color: #fff;
	font-family: 'calibri';
	font-weight: 400;
	margin-left : 550px;
	padding: 0px;
}

nav ul li form input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

nav ul li form input[type=button]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

nav ul li form input[type=button]{
	width: 50px;
	height: 18px;
	background: #fff;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 1px;
	color: #CC6600;
	font-family: 'calibri';
	font-weight: 500;
	padding: 0px;
}

nav ul li form input[type=button]:hover{
	opacity: 0.8;
}

nav ul li form input[type=button]:active{
	opacity: 0.6;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
 
.text { 
	background: #DFE4E8; 
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3E3E33), color-stop(20%,	#3E3E33)); 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;
	-webkit-box-shadow: 0px 1px 0px #F2F2F2; 
	width: 1049px; 
	display	: block;
	color : #fff;
	font-size : 18px;
	border :solid 1px #ccc; 
	height : 630px; 
	margin-left	: 150px;
} 

.text div {
	margin-left :30px;
}

.text div a,
.text div a:focus,
.text div a:visited,
.text div a:hover,
.text div a:active {
	color : #FFD1A3;
	text-decoration : none; 
}

.edit{
	position: absolute;
	top: calc(30% - 75px);
	left: calc(42% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}
.edit input[type=text]{
	width: 250px;
	height: 30px;
	background: #3E3E33;
	border: 1px solid rgba(0,0,0,0.6);
	border-radius: 2px;
	color: #FFA347;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.edit input[type=submit]{
	width: 260px;
	height: 35px;
	background: #3E3E33;
	border: 1px solid #3E3E33;
	cursor: pointer;
	border-radius: 2px;
	color: #FFA347;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.edit input[type=submit]:hover{
	opacity: 0.8;
}

.edit input[type=submit]:active{
	opacity: 0.6;
}

.edit input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(0,0,0,0.9);
}

.edit input[type=text]:hover{
	opacity: 0.8;
}

.edit input[type=text]:active{
	opacity: 0.6;
}

.edit input[type=submit]:focus{
	outline: none;
}