{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'pinjemdong/bootstrap.min.css' %}" />

<SCRIPT language="JavaScript">
function OnSubmitForm()
{
  if(document.search.radiosearch[0].checked == true)
  {
    document.search.action ="{% url 'pinjemdong:search' username %}";
    document.search.method ="post"
  }
  else
  if(document.search.radiosearch[1].checked == true)
  {
    document.search.action ="{% url 'pinjemdong:searchbook' username %}";
    document.search.method ="post"
  }
  return true;
}
</SCRIPT>

<title>Pinjemdong</title>
<body>
	<nav class="navbar navbar-default" role="navigation">	
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
   				<a class="navbar-brand" href="{% url 'pinjemdong:home' username %}">Home</a>
				<a class="navbar-brand" href="{% url 'pinjemdong:myprofile' username %}">Profile</a>
				<a class="navbar-brand" href="{% url 'pinjemdong:login' %}">Log Out</a>
				<form class="navbar-form navbar-left" role="search" name="search" onSubmit="return OnSubmitForm();">
					{% csrf_token %}
			        <div class="form-group">
			          	<input type="text" class="form-control" placeholder="Search" name="query" id="query">
			        </div>
			        <button type="submit" class="btn btn-default">Submit</button>
			        <input type="radio" name="radiosearch" checked="checked"/>People
					<input type="radio" name="radiosearch" />Book
		      	</form>
			</div>
		</div>
	</nav>
	<h1>{{ book.title }}</h1>
	<br><br>
	
	<p>Title : {{ book.title }} </p>
	<p>Writer : {{ book.writer }} </p>
	<p>Published by : {{ book.publisher }} </p>
	<p>Place : {{ book.place }} </p>
	<p>Year : {{ book.year }} </p>
	
	
	<a href="{% url 'pinjemdong:addbook' username book.title %}">Add to My Book</a>
	<a href="{% url 'pinjemdong:editbook' username book.title %}">Edit Book Info</a>
	<a href="{% url 'pinjemdong:review' username book.title %}">Write Review</a>
	
	
	
		
</body>