Edit Book
<br><br>
<a href="{% url 'pinjemdong:login' %}">Log Out</a><br>
<a href="{% url 'pinjemdong:myprofile' username %}">Profile</a><br>

{% if book %}	
	<form action="{% url 'pinjemdong:changebook' username book.title %}" method="post">
		{% csrf_token %}
		<label for="title">Title</label>
		<input type="text" name="title" id="title" value="{{ book.title }}"/><br>
		<label for="writer">Writer</label>
		<input type="text" name="writer" id="writer" value="{{ book.writer }}"/><br>
		<label for="publisher">Publisher</label>
		<input type="text" name="publisher" id="publisher" value="{{ book.publisher }}"/><br>
		<label for="place">Place</label>
		<input type="text" name="place" id="place" value="{{ book.place }}"/><br>
		<label for="year">Year</label>
		<input type="number" name="year" id="year" value="{{ book.year }}"/><br>
		<input type="submit" value="Save"/>
	</form>
{% else %}
	<form action="{% url 'pinjemdong:changebook' username None %}" method="post">
		{% csrf_token %}
		<label for="title">Title</label>
		<input type="text" name="title" id="title"/><br>
		<label for="writer">Writer</label>
		<input type="text" name="writer" id="writer" /><br>
		<label for="publisher">Publisher</label>
		<input type="text" name="publisher" id="publisher" /><br>
		<label for="place">Place</label>
		<input type="text" name="place" id="place" /><br>
		<label for="year">Year</label>
		<input type="number" name="year" id="year" /><br>
		<input type="submit" value="Save"/>
	</form>
{% endif %}