{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'pinjemdong/bootstrap.min.css' %}" />
<SCRIPT language="JavaScript">
function OnSubmitForm()
{
  if(document.search.radiosearch[0].checked == true)
  {
    document.search.action ="{% url 'pinjemdong:search' username %}";
    document.search.method ="post"
  }
  else
  if(document.search.radiosearch[1].checked == true)
  {
    document.search.action ="{% url 'pinjemdong:searchbook' username %}";
    document.search.method ="post"
  }
  return true;
}
</SCRIPT>

<title>Pinjemdong</title>
<body>
	<nav class="navbar navbar-default" role="navigation">	
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
   				<a class="navbar-brand" href="{% url 'pinjemdong:home' username %}">Home</a>
				<a class="navbar-brand" href="{% url 'pinjemdong:myprofile' username %}">Profile</a>
				<a class="navbar-brand" href="{% url 'pinjemdong:login' %}">Log Out</a>
				<form class="navbar-form navbar-left" role="search" name="search" onSubmit="return OnSubmitForm();">
					{% csrf_token %}
			        <div class="form-group">
			          	<input type="text" class="form-control" placeholder="Search" name="query" id="query">
			        </div>
			        <button type="submit" class="btn btn-default">Submit</button>
			        <input type="radio" name="radiosearch" checked="checked"/>People
					<input type="radio" name="radiosearch" />Book
		      	</form>
			</div>
		</div>
	</nav>

Edit Book
<br><br>
<a href="{% url 'pinjemdong:login' %}">Log Out</a><br>
<a href="{% url 'pinjemdong:myprofile' username %}">Profile</a><br>

{% if book %}	
	<form action="{% url 'pinjemdong:changebook' username book.title %}" method="post">
		{% csrf_token %}
		<label for="title">Title</label>
		<input type="text" name="title" id="title" value="{{ book.title }}"/><br>
		<label for="writer">Writer</label>
		<input type="text" name="writer" id="writer" value="{{ book.writer }}"/><br>
		<label for="publisher">Publisher</label>
		<input type="text" name="publisher" id="publisher" value="{{ book.publisher }}"/><br>
		<label for="place">Place</label>
		<input type="text" name="place" id="place" value="{{ book.place }}"/><br>
		<label for="year">Year</label>
		<input type="number" name="year" id="year" value="{{ book.year }}"/><br>
		<input type="submit" value="Save"/>
	</form>
{% else %}
	<form action="{% url 'pinjemdong:changebook' username None %}" method="post">
		{% csrf_token %}
		<label for="title">Title</label>
		<input type="text" name="title" id="title"/><br>
		<label for="writer">Writer</label>
		<input type="text" name="writer" id="writer" /><br>
		<label for="publisher">Publisher</label>
		<input type="text" name="publisher" id="publisher" /><br>
		<label for="place">Place</label>
		<input type="text" name="place" id="place" /><br>
		<label for="year">Year</label>
		<input type="number" name="year" id="year" /><br>
		<input type="submit" value="Save"/>
	</form>
{% endif %}
</body>