{{ message }}
<SCRIPT language="JavaScript">
function OnSubmitForm()
{
  if(document.search.radiosearch[0].checked == true)
  {
    document.search.action ="{% url 'pinjemdong:search' username %}";
    document.search.method ="post"
  }
  else
  if(document.search.radiosearch[1].checked == true)
  {
    document.search.action ="{% url 'pinjemdong:searchbook' username %}";
    document.search.method ="post"
  }
  return true;
}
</SCRIPT>
{% if username %}
	<form name="search" onSubmit="return OnSubmitForm();">
		{% csrf_token %}
		<input type="text" name="query" id="query"/>
		<input type="submit" value="search"/><br>
		<input type="radio" name="radiosearch" checked="checked"/>People
		<input type="radio" name="radiosearch" />Book
	</form>
	<a href="{% url 'pinjemdong:login' %}">Log Out</a><br>
	<a href="{% url 'pinjemdong:myprofile' username %}">Profile</a><br>
	<a href="{% url 'pinjemdong:editbook' username None %}">Add New Book</a><br>
	hello {{ username }}
{% else %}
	<meta http-equiv="REFRESH" content="0;url={% url 'pinjemdong:login' %}">
{% endif %}

