{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'pinjemdong/bootstrap.min.css' %}" />


<title>Pinjemdong</title>
<body>
	<nav class="navbar navbar-default" role="navigation">	
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
   				<a class="navbar-brand" href="{% url 'pinjemdong:home' user.username %}">Home</a>
				<a class="navbar-brand" href="{% url 'pinjemdong:myprofile' user.username %}">Profile</a>
				<a class="navbar-brand" href="{% url 'pinjemdong:login' %}">Log Out</a>
				
			</div>
		</div>
	</nav>

My Profile
<br><br>

Username : {{ user.username }} <br>
Name : {{ user.name }} <br>
Address : {{ user.address }} <br>
Favorite Book : {{ user.fav_book }} <br>
Favorite Genre : {{ user.fav_genre }} <br>

<br>
Book List:<br>
{% for book in books %}
	<a href="{% url 'pinjemdong:book' user.username book.book.title %}">{{ book.book.title }}</a><br>
	{% if book.available %}  
		Book Available<br>
		<form action="{% url 'pinjemdong:acceptrequest' user.username  book.book.title %}" method="post">
		{% csrf_token %}
		{% for requester in requesters %}
			{% if requester.book.title == book.book.title %}
				<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ requester.requester.name }}"/>
				<label for="choice{{ forloop.counter }}">{{ requester.requester.name }}</label>
			{% endif %}
		{% endfor %}
		{% if requesters %}
			<input type="submit" value="Accept request"/>
		{% endif %}
		
		</form>
	{% else %}
		Book Not Available<br>
	{% endif %}
	
{% endfor %}

<a href="{% url 'pinjemdong:editpage' user.username %}">Edit Profile</a>
</body>