{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'pinjemdong/bootstrap.min.css' %}" />

<title>Pinjemdong</title>
<body>
	<nav class="navbar navbar-default" role="navigation">	
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
   				<a class="navbar-brand" href="{% url 'pinjemdong:home' username %}">Home</a>
				<a class="navbar-brand" href="{% url 'pinjemdong:myprofile' username %}">Profile</a>
				<a class="navbar-brand" href="{% url 'pinjemdong:login' %}">Log Out</a>
				
			</div>
		</div>
	</nav>

{{ people.name }} Profile
<br><br>

Username : {{ people.username }} <br>
Name : {{ people.name }} <br>
Address : {{ people.address }} <br>
Favorite Book : {{ people.fav_book }} <br>
Favorite Genre : {{ people.fav_genre }} <br>

<br>
Book List:<br>
{% for book in books %}
	<a href="{% url 'pinjemdong:book' username book.book.title %}">{{ book.book.title }}</a><br>
	{% if book.available %}  
		Book Available <a href="{% url 'pinjemdong:sendrequest' username people.username book.book.title %}">Send Borrow Request</a>
		<br>
	{% else %}
		Book Not Available<br>
	{% endif %}
	
{% endfor %}
<a href="{% url 'pinjemdong:add' username people.username %}">Add as Friend</a>
</body>