{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'pinjemdong/bootstrap.min.css' %}" />
<SCRIPT language="JavaScript">
function OnSubmitForm()
{
  if(document.search.radiosearch[0].checked == true)
  {
    document.search.action ="{% url 'pinjemdong:search' username %}";
    document.search.method ="post"
  }
  else
  if(document.search.radiosearch[1].checked == true)
  {
    document.search.action ="{% url 'pinjemdong:searchbook' username %}";
    document.search.method ="post"
  }
  return true;
}
</SCRIPT>

<title>Pinjemdong</title>
<body>
	<nav class="navbar navbar-default" role="navigation">	
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
   				<a class="navbar-brand" href="{% url 'pinjemdong:home' username %}">Home</a>
				<a class="navbar-brand" href="{% url 'pinjemdong:myprofile' username %}">Profile</a>
				<a class="navbar-brand" href="{% url 'pinjemdong:login' %}">Log Out</a>
				<form class="navbar-form navbar-left" role="search" name="search" onSubmit="return OnSubmitForm();">
					{% csrf_token %}
			        <div class="form-group">
			          	<input type="text" class="form-control" placeholder="Search" name="query" id="query">
			        </div>
			        <button type="submit" class="btn btn-default">Submit</button>
			        <input type="radio" name="radiosearch" checked="checked"/>People
					<input type="radio" name="radiosearch" />Book
		      	</form>
			</div>
		</div>
	</nav>

<div class="panel panel-default">
	<div class="panel-heading"><h3><b>Write Review for: "{{ booktitle }}"</b></h3></div>
	<div class="panel-body">
	<form action="{% url 'pinjemdong:savereview' username booktitle %}" method="post" class="horizontal-form" role="form">
		{% csrf_token %}
		<div class="form-group">
			<div class="col-sm-5">
				<textarea class="form-control" rows="10" name="textreview" id="textreview" placeholder="Write your review here"></textarea><br>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-10">
			<input type="submit" class="btn btn-default btn-lg">
			</div>
		</div>
	</form>
	</div>
</div>
</body>